body {
    margin: 45px;
    margin-top: 10px;
}
.title {
    display: flex;
    justify-content: space-between;
    height: 100px;
    width: 100%;
    align-items: center;
}

.a {
    width: 200px;
    height: 20px;
    margin-top: -10px;
}

ul li {
    display: inline-block;
    padding: 10px 30px 10px 30px;
    font-size: 17px;

}

ul li a {
    color: black;
    text-decoration: none;
}

ul li a:hover {
    background-color: rgba(255, 234, 78, 0.5);
    text-decoration: none;
    color: black;
}

.image {
    width: 100%;
    height: 50vh;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s;
    background-color: rgba(239, 207, 168);
}

.col-lg-6:hover .overlay {
    opacity: 0.9;
}

.text {
    color: black;
    font-size: 20px;
    font-weight: bold;
    position: absolute;
    top: 75%;
    left: 17%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.row {
    margin: 30px 0px;
}
a{
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: none;
    color: black;
}
.grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto auto auto auto auto;
    padding: 10px;
}
span {
    color: gray;
    font-size: small;
}